extends ../layout/base

block content
    include ../parts/header

    .page.page-inner.page-about
        .main__nav
            include ../parts/page-nav
        .page-container
            .section.section--equipment
                .main
                    .n-grid-row
                        .n-grid-row-container.n-grid-row-container--0
                            .page-title
                                .page-title__count 05
                                .page-title__name
                                    a(href="#block1") Главная
                                    span О предприятии
                    div
                        .n-grid-row-container.n-grid-row-container--0
                            .n-grid-row
                                .page-head
                                    .page-inner-title
                                        .page-name О предприятии
                                    .page-img
                                        img(src="img/about.png" alt="")
                        .n-grid-row-container
                            .n-grid-row
                                .page-content-wrapper
                                    .page-content
                                        p ООО «НПП «Авиагаз-Союз+» специализируется на разработке и изготовлении параметрического ряда автоматических и автоматизированных газораспределительных станций АГРС «Исток» в блочном и блочно-контейнерном исполнении, регуляторов давления газа «ЛОРД» различного назначения (отсекатели, ограничители) и другого газотехнологического оборудования, в том числе блоков очистки газа «Исток» и фильтров очистки газа ФВД, теплообменников ТКТ-У, подогревателей газа прямого действия ПГТА и с промежуточным теплоносителем, блоков одоризации и дезодорации, ёмкостей сбора конденсата и хранения одоранта и др., а также источников бесперебойного питания ИБП, системы управления САУ «Исток-СМ» и блочно-модульных котельных БМК.
                                        p Оборудование АГРС «Исток» унифицировано для оснащения газораспределительных станций любой производительности и прошло проверку временем на предприятиях транспортировки газа ОАО «Газпром».
                                        p Продукция предприятия включена в «Реестр оборудования, применяемого на объектах ГРС, характеристики которого соответствуют техническим требованиям ОАО «Газпром».
                                        p Предприятие имеет более 40 патентов, защищающих разработки нашего предприятия и подтверждающих высокий уровень изделий и агрегатов.
                                        p Дочерние предприятия ОАО «Газпром» широко применяют технологические блоки «Исток» для целей капитального ремонта ГРС. Предприятие способно перевести на новый уровень любую ГРС, превратив ее в автоматическую станцию путем поэтапной блочной замены морально и физически устаревшего оборудования в объеме капитального ремонта.

        include ../parts/grid-fixed

block custom-scripts
    //script(src='js/script-mainpage.js')
    //script(src='js/nav.js')