.a-certs
    .a-certs__block
        a.a-certs__img(href="img/uploads/cert-1.png" data-fancybox)
            img(src="img/uploads/cert-1.png" alt="")
        .a-certs__name Сертификат соответствия требованиям ТР ТС 010/2011 до 09.03.2021
    .a-certs__block
        a.a-certs__img(href="img/uploads/cert-2.png" data-fancybox)
            img(src="img/uploads/cert-2.png" alt="")
        .a-certs__name Сертификат соответствия требованиям ТР ТС 010/2011 до 09.03.2021
    .a-certs__block
        a.a-certs__img(href="img/uploads/cert-1.png" data-fancybox)
            img(src="img/uploads/cert-1.png" alt="")
        .a-certs__name Сертификат соответствия требованиям ТР ТС 010/2011 до 09.03.2021
    .a-certs__block
        a.a-certs__img(href="img/uploads/cert-1.png" data-fancybox)
            img(src="img/uploads/cert-1.png" alt="")
        .a-certs__name Сертификат соответствия требованиям ТР ТС 010/2011 до 09.03.2021
    .a-certs__block
        a.a-certs__img(href="img/uploads/cert-2.png" data-fancybox)
            img(src="img/uploads/cert-2.png" alt="")
        .a-certs__name Сертификат соответствия требованиям ТР ТС 010/2011 до 09.03.2021
    .a-certs__block
        a.a-certs__img(href="img/uploads/cert-1.png" data-fancybox)
            img(src="img/uploads/cert-1.png" alt="")
        .a-certs__name Сертификат соответствия требованиям ТР ТС 010/2011 до 09.03.2021
    .a-certs__block
        a.a-certs__img(href="img/uploads/cert-1.png" data-fancybox)
            img(src="img/uploads/cert-1.png" alt="")
        .a-certs__name Сертификат соответствия требованиям ТР ТС 010/2011 до 09.03.2021
    .a-certs__block
        a.a-certs__img(href="img/uploads/cert-2.png" data-fancybox)
            img(src="img/uploads/cert-2.png" alt="")
        .a-certs__name Сертификат соответствия требованиям ТР ТС 010/2011 до 09.03.2021
    .a-certs__block
        a.a-certs__img(href="img/uploads/cert-1.png" data-fancybox)
            img(src="img/uploads/cert-1.png" alt="")
        .a-certs__name Сертификат соответствия требованиям ТР ТС 010/2011 до 09.03.2021