.a-docs
    .a-docs__block
        a(href='/files/test.docx').a-docs__link Опросный лист ТУ 05534
    .a-docs__block
        a(href='/files/test.docx').a-docs__link Опросный лист ТУ 05534
    .a-docs__block
        a(href='/files/test.docx').a-docs__link Опросный лист ТУ 05534
    .a-docs__block
        a(href='/files/test.docx').a-docs__link Опросный лист ТУ 05534
    .a-docs__block
        a(href='/files/test.docx').a-docs__link Опросный лист ТУ 05534
    .a-docs__block
        a(href='/files/test.docx').a-docs__link Опросный лист ТУ 05534
    .a-docs__block
        a(href='/files/test.docx').a-docs__link Опросный лист ТУ 05534
    .a-docs__block
        a(href='/files/test.docx').a-docs__link Опросный лист ТУ 05534
    .a-docs__block
        a(href='/files/test.docx').a-docs__link Опросный лист ТУ 05534
    .a-docs__block
        a(href='/files/test.docx').a-docs__link Опросный лист ТУ 05534
    .a-docs__block
        a(href='/files/test.docx').a-docs__link Опросный лист ТУ 05534
    .a-docs__block
        a(href='/files/test.docx').a-docs__link Опросный лист ТУ 05534
    .a-docs__block
        a(href='/files/test.docx').a-docs__link Опросный лист ТУ 05534
    .a-docs__block
        a(href='/files/test.docx').a-docs__link Опросный лист ТУ 05534
    .a-docs__block
        a(href='/files/test.docx').a-docs__link Опросный лист ТУ 05534
    .a-docs__block
        a(href='/files/test.docx').a-docs__link Опросный лист ТУ 05534
