.gallery
    .gallery__item
        .gallery__img
            img(src="img/uploads/prod-1.png" alt="Product picture")
    .gallery__item
        .gallery__img
            img(src="img/uploads/prod-2.png" alt="Product picture")
    .gallery__item
        .gallery__img
            img(src="img/uploads/prod-3.png" alt="Product picture")
    .gallery__item
        .gallery__img
            img(src="img/uploads/prod-4.png" alt="Product picture")
    .gallery__item
        .gallery__img
            img(src="img/uploads/prod-5.png" alt="Product picture")
    .gallery__item
        .gallery__img
            img(src="img/uploads/prod-1.png" alt="Product picture")
    .gallery__item
        .gallery__img
            img(src="img/uploads/prod-2.png" alt="Product picture")