// для вертикальных полос
.n-grid-row.n-grid--fixed.n-grid--bordered
    .n-grid-col 1
    .n-grid-col 2
    .n-grid-col 3
    .n-grid-col 4
    .n-grid-col 5
    .n-grid-col 6
    .n-grid-col 7
    .n-grid-col 8