//.page.page-inner.page-product
//    .main__nav
//        include ../../parts/page-nav
//    .page-container
//        .section.section--equipment
//            .main
//                .n-grid-row
//                    .n-grid-row-container.n-grid-row-container--0
//                        .page-title
//                            .page-title__count 02
//                            .page-title__name
//                                a(href="/#products") Продукция
//                                span Газовое оборудование
//                div
//                    //.n-grid-col
//                    .n-grid-row-container.n-grid-row-container--0
//                        .n-grid-row
//                            .page-head
//                                .page-inner-title
//                                    .page-name Автоматические газораспределительные станции «Исток»
//                                    .page-desc типовые АГРС до 75 000 нм3/час
//                                .page-img
//                                    img(src="img/uploads/product-1.png" alt="Product picture")
//                                include ../../parts/catalog-link
//                    .n-grid-row-container
//                        .n-grid-row
//                            .page-content-wrapper
//                                .page-content
//                                    #tab-container.a-tabs
//                                        ul.a-tabs__container
//                                            li.a-tabs__item
//                                                a(href='#tab-features') Технические характеристики
//                                            li.a-tabs__item
//                                                a(href='#tab-permission') Сертификаты и разрешения
//                                            li.a-tabs__item
//                                                a(href='#tab-interview') Опросные листы
//                                        #tab-features
//                                            .a-tabs__content
//                                                .article-content
//                                                    p Автоматическая газораспределительная станция АГРС «Исток» предназначена для автономного газоснабжения потребителей природным газом, отбираемого от магистрального газопровода. АГРС «Исток» типового исполнения выпускаются производительностью от 1 000 до 75 000 нм3/час (АГРС производительностью менее 1000 нм3/час – см.раздел «Мини АГРС», АГРС производительностью более 75 000 нм3/час - см.раздел АГРС производительностью более 75 000 нм3/час).
//                                                    br
//                                                    p
//                                                        strong Основной состав АГРС «Исток»:
//                                                    .double-col
//                                                        .double-col__col
//                                                            ol
//                                                                li узел/блок переключения;
//                                                                li узел/блок очистки;
//                                                                li узел/блок редуцирования;
//                                                                li узел подогрева газа/подогреватель газа;
//                                                                li узел/блок коммерческого учета расхода газа;
//                                                                li узел учета расхода газа на собственные нужды;
//                                                                li блок одоризации и ёмкость для хранения одоранта;
//                                                                li блок дезодорации;
//                                                                li блок подготовки импульсного газа;
//                                                                li ёмкость сбора конденсата;
//                                                                li блок-бокс вспомогательных помещений с отсеками КИПиА/операторной/щитовой/узлом подготовки теплоносителя/мастерской/бытовой/санузлом/душевой/комнатой отдыха и пр.;
//                                                                li блок-бокс анализа состава и качества газа;
//                                                                li измерительная блока учета газа;
//                                                                li блок азотных баллонов.
//                                                        .double-col__col
//                                                            .info-block
//                                                                p Оборудование АГРС поставляется в полной заводской готовности и оснащено всеми необходимыми системами жизнеобеспечения, в том числе: системой контроля загазованности с управляемой аварийной вентиляцией, автоматическими системами пожарной и охранной сигнализации, основного и аварийного освещения, отопления, водоснабжения и кондиционирования при необходимости. Станции могут укомплектовываться вспомогательными помещениями: операторная, щитовая,  топочная, мастерская, комната отдыха, бытовка, санузел  и душевая.
//                                                    p.bold Фотогалерея
//                                                    .gallery
//                                                        .gallery__item
//                                                            .gallery__img
//                                                                img(src="img/uploads/prod-1.png" alt="Product picture")
//                                                        .gallery__item
//                                                            .gallery__img
//                                                                img(src="img/uploads/prod-2.png" alt="Product picture")
//                                                        .gallery__item
//                                                            .gallery__img
//                                                                img(src="img/uploads/prod-3.png" alt="Product picture")
//                                                        .gallery__item
//                                                            .gallery__img
//                                                                img(src="img/uploads/prod-4.png" alt="Product picture")
//                                                        .gallery__item
//                                                            .gallery__img
//                                                                img(src="img/uploads/prod-5.png" alt="Product picture")
//                                                        .gallery__item
//                                                            .gallery__img
//                                                                img(src="img/uploads/prod-1.png" alt="Product picture")
//                                                        .gallery__item
//                                                            .gallery__img
//                                                                img(src="img/uploads/prod-2.png" alt="Product picture")
//                                                    p.bold Фотогалерея
//                                                    .a-table
//                                                        table
//                                                            thead
//                                                                tr
//                                                                    th(rowspan="2")
//                                                                        strong Производительность АГРС
//                                                                    th(colspan="4")
//                                                                        strong Наименование узлов и блоков
//                                                                tr
//                                                                    th
//                                                                        strong Блок-бокс технологический в составе: &nbsp;
//                                                                        | узел переключения, узел очистки, узел редуцирования, узел коммерческого учета газа
//                                                                    th
//                                                                        strong САУ
//                                                                    th(colspan="2")
//                                                                        strong САУ
//                                                            tbody
//                                                                tr
//                                                                    td
//                                                                        strong «Исток-1»
//                                                                        br
//                                                                        | Qmax=1 000 нмЗ/час
//                                                                    td.
//                                                                        Блок-бокс технологический <br>
//                                                                        Размеры 5,0х2,8х3,05 м. <br>
//                                                                        Масса 6,5 т.
//                                                                    td(rowspan="8") Может применяться любая система автоматизи-рованого управления в соответствии с реестром разрешенного оборудования ПАО «Газпром»
//                                                                    td(rowspan="5") Котел и теплообменные аппараты с промежуточным теплоносителем размещаются в отсеках бокса
//                                                                    td(rowspan="2") Блок одоризации, емкость сбора конденсата и хранения одоранта в составе технологического блока
//                                                                tr
//                                                                    td
//                                                                        strong «Исток-3»
//                                                                        br
//                                                                        | Qmax=3 000 нмЗ/час
//                                                                    td.
//                                                                        Блок-бокс технологический <br>
//                                                                        Размеры 5,0х2,8х3,05 м. <br>
//                                                                        Масса 6,5 т.
//                                                                tr
//                                                                    td
//                                                                        strong «Исток-5»
//                                                                        br
//                                                                        | Qmax=5 000 нмЗ/час
//                                                                    td.
//                                                                        Блок-бокс технологический <br>
//                                                                        Размеры 5,0х2,8х3,05 м. <br>
//                                                                        Масса 6,5 т.
//                                                                    td(rowspan="3") Отдельно стоящие блок одоризации с емкостью хранения одоранта до V=2,0 м3; емкость сбора конденсата до V=2,0 м3
//                                                                tr
//                                                                    td
//                                                                        strong «Исток-10»
//                                                                        br
//                                                                        | Qmax=10 000 нмЗ/час
//                                                                    td.
//                                                                        Блок-бокс технологический <br>
//                                                                        Размеры 5,0х2,8х3,05 м. <br>
//                                                                        Масса 6,5 т.
//                                                                tr
//                                                                    td
//                                                                        strong «Исток-20»
//                                                                        br
//                                                                        | Qmax=20 000 нмЗ/час
//                                                                    td.
//                                                                        Блок-бокс технологический <br>
//                                                                        Размеры 5,0х2,8х3,05 м. <br>
//                                                                        Масса 6,5 т.
//                                                                tr
//                                                                    td
//                                                                        strong «Исток-30»
//                                                                        br
//                                                                        | Qmax=30 000 нмЗ/час
//                                                                    td.
//                                                                        Блок-бокс технологический <br>
//                                                                        Размеры 5,0х2,8х3,05 м. <br>
//                                                                        Масса 6,5 т.
//                                                                    td(rowspan="3") Отдельностоящие подогреватели прямого нагрева типа ПГТА или подогреватели с промежуточным теплоносителем
//                                                                    td(rowspan="3") Отдельно стоящие блок одоризации с емкостью хранения одоранта до V=3,0 м3; емкость сбора конденсата до V=5,0 м3
//                                                                tr
//                                                                    td
//                                                                        strong «Исток-50»
//                                                                        br
//                                                                        | Qmax=50 000 нмЗ/час
//                                                                    td.
//                                                                        Блок-бокс технологический <br>
//                                                                        Размеры 5,0х2,8х3,05 м. <br>
//                                                                        Масса 6,5 т.
//                                                                tr
//                                                                    td
//                                                                        strong «Исток-70»
//                                                                        br
//                                                                        | Qmax=70 000 нмЗ/час
//                                                                    td.
//                                                                        Блок-бокс технологический <br>
//                                                                        Размеры 5,0х2,8х3,05 м. <br>
//                                                                        Масса 6,5 т.
//
//
//                                        #tab-permission
//                                            .a-tabs__content
//                                                .a-certs
//                                                    .a-certs__block
//                                                        a.a-certs__img(href="img/uploads/cert-1.png" data-fancybox)
//                                                            img(src="img/uploads/cert-1.png" alt="")
//                                                        .a-certs__name Сертификат соответствия требованиям ТР ТС 010/2011 до 09.03.2021
//                                                    .a-certs__block
//                                                        a.a-certs__img(href="img/uploads/cert-2.png" data-fancybox)
//                                                            img(src="img/uploads/cert-2.png" alt="")
//                                                        .a-certs__name Сертификат соответствия требованиям ТР ТС 010/2011 до 09.03.2021
//                                                    .a-certs__block
//                                                        a.a-certs__img(href="img/uploads/cert-1.png" data-fancybox)
//                                                            img(src="img/uploads/cert-1.png" alt="")
//                                                        .a-certs__name Сертификат соответствия требованиям ТР ТС 010/2011 до 09.03.2021
//                                                    .a-certs__block
//                                                        a.a-certs__img(href="img/uploads/cert-1.png" data-fancybox)
//                                                            img(src="img/uploads/cert-1.png" alt="")
//                                                        .a-certs__name Сертификат соответствия требованиям ТР ТС 010/2011 до 09.03.2021
//                                                    .a-certs__block
//                                                        a.a-certs__img(href="img/uploads/cert-2.png" data-fancybox)
//                                                            img(src="img/uploads/cert-2.png" alt="")
//                                                        .a-certs__name Сертификат соответствия требованиям ТР ТС 010/2011 до 09.03.2021
//                                                    .a-certs__block
//                                                        a.a-certs__img(href="img/uploads/cert-1.png" data-fancybox)
//                                                            img(src="img/uploads/cert-1.png" alt="")
//                                                        .a-certs__name Сертификат соответствия требованиям ТР ТС 010/2011 до 09.03.2021
//                                                    .a-certs__block
//                                                        a.a-certs__img(href="img/uploads/cert-1.png" data-fancybox)
//                                                            img(src="img/uploads/cert-1.png" alt="")
//                                                        .a-certs__name Сертификат соответствия требованиям ТР ТС 010/2011 до 09.03.2021
//                                                    .a-certs__block
//                                                        a.a-certs__img(href="img/uploads/cert-2.png" data-fancybox)
//                                                            img(src="img/uploads/cert-2.png" alt="")
//                                                        .a-certs__name Сертификат соответствия требованиям ТР ТС 010/2011 до 09.03.2021
//                                                    .a-certs__block
//                                                        a.a-certs__img(href="img/uploads/cert-1.png" data-fancybox)
//                                                            img(src="img/uploads/cert-1.png" alt="")
//                                                        .a-certs__name Сертификат соответствия требованиям ТР ТС 010/2011 до 09.03.2021
//                                            //h2 Сертификаты и разрешения
//                                            // content
//                                        #tab-interview
//                                            .a-tabs__content
//                                                .a-docs
//                                                    .a-docs__block
//                                                        a(href='#').a-docs__link Опросный лист ТУ 05534
//                                                    .a-docs__block
//                                                        a(href='#').a-docs__link Опросный лист ТУ 05534
//                                                    .a-docs__block
//                                                        a(href='#').a-docs__link Опросный лист ТУ 05534
//                                                    .a-docs__block
//                                                        a(href='#').a-docs__link Опросный лист ТУ 05534
//                                                    .a-docs__block
//                                                        a(href='#').a-docs__link Опросный лист ТУ 05534
//                                                    .a-docs__block
//                                                        a(href='#').a-docs__link Опросный лист ТУ 05534
//                                                    .a-docs__block
//                                                        a(href='#').a-docs__link Опросный лист ТУ 05534
//                                                    .a-docs__block
//                                                        a(href='#').a-docs__link Опросный лист ТУ 05534
//                                                    .a-docs__block
//                                                        a(href='#').a-docs__link Опросный лист ТУ 05534
//                                                    .a-docs__block
//                                                        a(href='#').a-docs__link Опросный лист ТУ 05534
//                                                    .a-docs__block
//                                                        a(href='#').a-docs__link Опросный лист ТУ 05534
//                                                    .a-docs__block
//                                                        a(href='#').a-docs__link Опросный лист ТУ 05534
//                                                    .a-docs__block
//                                                        a(href='#').a-docs__link Опросный лист ТУ 05534
//                                                    .a-docs__block
//                                                        a(href='#').a-docs__link Опросный лист ТУ 05534
//                                                    .a-docs__block
//                                                        a(href='#').a-docs__link Опросный лист ТУ 05534
//                                                    .a-docs__block
//                                                        a(href='#').a-docs__link Опросный лист ТУ 05534
//
//                                            // content
//                                    //-#tab-container.a-tabs
//                                        ul.a-tabs__container
//                                            li.a-tabs__item
//                                                a(href='#tab-features') Технические характеристики
//                                            li.a-tabs__item
//                                                a(href='#tab-permission') Сертификаты и разрешения
//                                            li.a-tabs__item
//                                                a(href='#tab-interview') Опросные листы
//                                        #tab-features
//                                            h2 Технические характеристики
//                                            // content
//                                        #tabs-permission
//                                            h2 Сертификаты и разрешения
//                                            // content
//                                        #tabs1-interview
//                                            h2 Опросные листы
//                                            // content
//
//
//    include ../parts/grid-fixed
