.page-product{
  .page-inner-title{
    @media(max-width: $mobile-sm)  {
      position: relative;
      top: unset;
      transform: none;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 20px 0;
    }

  }
  .page-img{
    @media(max-width: $mobile-sm)  {
      position: absolute;
      top: 0;
    }
  }
  .page-subnav{
    height: auto;
    opacity: 1;
  }
}