extends ../../layout/base

block content
  include ../../parts/header
  main.page-main
    .grid.grid--abs.grid--opacity
      .grid-col 1
      .grid-col 2
      .grid-col 3
      .grid-col 4
      .grid-col 5
      .grid-col 6
      .grid-col 7
      .grid-col 8

    .main
      .grid.grid--abs.grid--noborder
        .grid-col 1
        .grid-col 2
        .grid-col 3
        .grid-col.bg--gray 4
        .grid-col.bg--gray 5
        .grid-col.bg--gray 6
        .grid-col.bg--gray 7
        .grid-col.bg--gray 8

      //-.grid.grid--abs.grid--noborder
        .grid-col 1
        .grid-col 2
        .grid-col 3
        .grid-col 4
        .grid-col 5
        .grid-col 6
        .grid-col 7
        .grid-col 8

      .grid.grid--noborder
        .grid-col
          .main__nav
            ul.page-nav
              li.page-nav__item
                a(href="#").page-nav__link Компания
              li.page-nav__item
                a(href="#").page-nav__link Продукция
              li.page-nav__item
                a(href="#").page-nav__link Новости
              li.page-nav__item
                a(href="#").page-nav__link Контакты
        .grid-col-4(style="background: #ddd")
          .section
            .section__title Эффективные системы распределения СПГ — наш конек
            .section__subtitle Например, автоматические газораспределительные станции «Исток»
        .grid-col 6
        .grid-col 7
        .grid-col 8

      .grid.grid--noborder
        .grid-col.grid-col-1
        .grid-col-4
          .section
            .section__nav
              .section__nav-title А еще мы занимаемся:
        .grid-col 6
        .grid-col 7
        .grid-col 8

      .grid.grid--noborder
        .grid-col 1
        .grid-col
          a.directions__block.active(href="#")
            .directions__icon
              svg.directions__svg(width='38' height='43' viewbox='0 0 38 43' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M12.5292 12.0651H6.82687C3.75103 12.0651 1.25757 9.57168 1.25757 6.49584V1.32715' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                path(d='M17.2801 7.28862L27.6497 7.28862C30.7255 7.28862 33.219 9.78208 33.219 12.8579L33.219 18.0266' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                path(d='M25.4458 41.6268L18.5061 41.6268C15.3256 41.6268 12.7473 39.0485 12.7473 35.868L12.7473 30.5234' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                path(d='M36.6758 28.3366L33.9826 28.3366C30.9068 28.3366 28.4133 25.8432 28.4133 22.7673L28.4133 17.5986' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                path(d='M14.5671 7.28913H8.7741C7.27693 7.28913 6.06323 6.07544 6.06323 4.57826V1.27734' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                path(d='M12.3789 12.0646L25.7025 12.0646C27.1996 12.0646 28.4133 13.2783 28.4133 14.7755L28.4133 18.0764' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                path(d='M36.5255 36.4854L21.4487 36.4854C19.9515 36.4854 18.7378 35.2717 18.7378 33.7746L18.7378 30.4736' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                path(d='M36.5755 23.6104L35.9299 23.6104C34.4327 23.6104 33.219 22.3967 33.219 20.8996L33.219 17.5986' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                line(x1='12.478' y1='12.8484' x2='12.478' y2='18.812' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                line(x1='18.79' y1='12.8484' x2='18.79' y2='18.812' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                rect(x='10.2239' y='19.6814' width='10.923' height='10.4221' rx='1.5' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                circle(cx='15.8099' cy='24.8924' r='1.59503' fill='#0066FF')
                line(x1='10.2239' y1='6.25806' x2='10.2239' y2='13.1682' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                line(x1='20.8962' y1='6.25806' x2='20.8962' y2='13.1682' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                line(x1='34.3975' y1='19.812' x2='27.4873' y2='19.812' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                line(x1='33.6687' y1='42.1975' x2='33.6687' y2='35.2874' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                line(x1='11.8308' y1='33.6577' x2='19.7891' y2='33.6577' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                line(x1='11.575' y1='16.5337' x2='19.8964' y2='16.5337' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                line(x1='28.0066' y1='41.7461' x2='36.0756' y2='41.7461' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
            .directions__name Газовое оборудование
        .grid-col
          a.directions__block(href="#")
            .directions__icon
              svg.directions__svg(width='38' height='38' viewbox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M7.62671 33.5008L14.5224 11.8494V8.61865H23.8772V11.8494L30.8211 33.1631' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                path(d='M11.717 33.0187L17.1262 14.7427H21.5144L26.7306 32.8001' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                path(d='M3.43144 36.7795L5.36028 33.3076H11.5808L14.2812 36.7795H1.0686' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                path(d='M35.0645 36.7795L33.1357 33.3076H26.9152L24.2148 36.7795H37.4274' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                line(x1='19.3622' y1='15.2427' x2='19.3622' y2='30.445' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                line(x1='15.2155' y1='22.3438' x2='23.0879' y2='22.3439' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                line(x1='16.1798' y1='18.6787' x2='22.1234' y2='18.6787' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                line(x1='12.9972' y1='11.5903' x2='25.3061' y2='11.5903' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                path(d='M17.3191 32.587C17.3191 31.4552 18.2366 30.5376 19.3685 30.5376V30.5376C20.5004 30.5376 21.4179 31.4552 21.4179 32.587V37.4283H17.3191V32.587Z' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                rect(x='16.8369' y='5.19482' width='4.91854' height='3.42386' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                line(x1='19.3622' y1='0.920898' x2='19.3622' y2='2.33197' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                path(d='M23.3071 0.661865L22.1364 2.83174' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                path(d='M16.6899 2.83179L15.5192 0.66191' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                line(x1='13.2865' y1='28.4719' x2='25.0167' y2='28.4719' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
            .directions__name Нефтяное оборудование
        .grid-col
          a.directions__block(href="#")
            .directions__icon
              svg.directions__svg.directions__svg--fill(width='33' height='33' viewbox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M24.6211 17.1447H27.4455L25.9783 20.0791C25.8191 20.3974 25.9481 20.7846 26.2665 20.9438C26.5848 21.103 26.9721 20.974 27.1313 20.6555L29.0648 16.7883C29.1648 16.5885 29.1541 16.3513 29.0366 16.1613C28.9192 15.9713 28.7117 15.8556 28.4883 15.8556H25.664L27.1312 12.9212C27.2904 12.6029 27.1614 12.2157 26.843 12.0565C26.5246 11.8972 26.1374 12.0263 25.9782 12.3448L24.0446 16.212C23.9447 16.4118 23.9554 16.6491 24.0728 16.8391C24.1903 17.029 24.3977 17.1447 24.6211 17.1447Z' fill='#9CC2FF')
                path(d='M16.5 11.9883H4.89844C4.54246 11.9883 4.25391 12.2769 4.25391 12.6328V20.3672C4.25391 20.7231 4.54246 21.0117 4.89844 21.0117H16.5C16.856 21.0117 17.1445 20.7231 17.1445 20.3672V12.6328C17.1445 12.2769 16.856 11.9883 16.5 11.9883ZM15.8555 19.7227H13.2773V16.5C13.2773 16.1441 12.9888 15.8555 12.6328 15.8555C12.2768 15.8555 11.9883 16.1441 11.9883 16.5V19.7227H9.41016V16.5C9.41016 16.1441 9.1216 15.8555 8.76562 15.8555C8.40965 15.8555 8.12109 16.1441 8.12109 16.5V19.7227H5.54297V13.2773H15.8555V19.7227Z' fill='#9CC2FF')
                path(d='M32.3555 1.93359C31.9995 1.93359 31.7109 2.22221 31.7109 2.57812V5.22567C30.8914 4.38823 29.7498 3.86719 28.4883 3.86719H19.0781V0.644531C19.0781 0.288621 18.7896 0 18.4336 0H14.5664C14.2104 0 13.9219 0.288621 13.9219 0.644531V3.86719H11.3438V0.644531C11.3438 0.288621 11.0552 0 10.6992 0H6.83203C6.47606 0 6.1875 0.288621 6.1875 0.644531V3.86719H4.51172C3.25024 3.86719 2.10865 4.38823 1.28906 5.22567V2.57812C1.28906 2.22221 1.00051 1.93359 0.644531 1.93359C0.288557 1.93359 0 2.22221 0 2.57812V28.4883C0 28.8442 0.288557 29.1328 0.644531 29.1328H4.3007C4.61452 31.3162 6.49675 33 8.76562 33C11.0345 33 12.9168 31.3162 13.2306 29.1328H24.2228L25.9782 32.6437C26.0874 32.8621 26.3105 33 26.5547 33H30.4219C30.7778 33 31.0664 32.7114 31.0664 32.3555V29.1328H32.3555C32.7114 29.1328 33 28.8442 33 28.4883C33 27.7923 33 3.27377 33 2.57812C33 2.22221 32.7114 1.93359 32.3555 1.93359ZM15.2109 1.28906H17.7891V3.86719H15.2109V1.28906ZM7.47656 1.28906H10.0547V3.86719H7.47656V1.28906ZM8.76562 31.7109C6.98865 31.7109 5.54297 30.2653 5.54297 28.4883C5.54297 26.7113 6.98865 25.2656 8.76562 25.2656C10.5426 25.2656 11.9883 26.7113 11.9883 28.4883C11.9883 30.2653 10.5426 31.7109 8.76562 31.7109ZM29.7773 31.7109H26.953L25.6639 29.1328H29.7773V31.7109ZM31.7109 27.8438H13.2306C12.9167 25.6603 11.0345 23.9766 8.76562 23.9766C6.49675 23.9766 4.61446 25.6603 4.3007 27.8438H1.28906V9.02344H7.79883C8.1548 9.02344 8.44336 8.73482 8.44336 8.37891C8.44336 8.023 8.1548 7.73438 7.79883 7.73438H1.35377C1.65329 6.26523 2.95543 5.15625 4.51172 5.15625H28.4883C30.0446 5.15625 31.3467 6.26523 31.6462 7.73438H13.5996C13.2436 7.73438 12.9551 8.023 12.9551 8.37891C12.9551 8.73482 13.2436 9.02344 13.5996 9.02344H20.1094V24.2344C20.1094 24.5903 20.3979 24.8789 20.7539 24.8789H31.7109V27.8438ZM31.7109 23.5898H21.3984V9.02344H31.7109V23.5898Z' fill='#9CC2FF')
                path(d='M10.6992 9.02344C11.0552 9.02344 11.3438 8.73487 11.3438 8.37891C11.3438 8.02294 11.0552 7.73438 10.6992 7.73438C10.3433 7.73438 10.0547 8.02294 10.0547 8.37891C10.0547 8.73487 10.3433 9.02344 10.6992 9.02344Z' fill='#9CC2FF')
            .directions__name Энергетическое оборудование
        .grid-col
          a.directions__block(href="#")
            .directions__icon
              svg.directions__svg(width='52' height='33' viewbox='0 0 52 33' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M42.4105 13.4073L41.5978 11.7083C41.2655 11.0135 40.5638 10.5713 39.7936 10.5713L37.7149 10.5713C36.9679 10.5713 36.2831 10.9876 35.9393 11.6508L35.0287 13.4073' stroke='#9CC2FF' stroke-linecap='round')
                path(d='M44.7048 27.3836V27.3836C47.1941 27.3836 49.212 25.3656 49.212 22.8764L49.212 18.2526C49.212 15.7633 47.1941 13.7454 44.7048 13.7454V13.7454' stroke='#9CC2FF' stroke-linecap='round')
                path(d='M16.921 16.4077C16.921 15.027 18.0403 13.9077 19.421 13.9077H22.0153C23.396 13.9077 24.5153 15.027 24.5153 16.4077V29.6461H16.921V16.4077Z' stroke='#9CC2FF')
                path(d='M0.986084 32.2295C0.986084 30.8488 2.10537 29.7295 3.48608 29.7295H48.417C49.7978 29.7295 50.9171 30.8488 50.9171 32.2295V32.4917H0.986084V32.2295Z' stroke='#9CC2FF')
                path(d='M4.85815 9.91385C4.85815 7.81674 6.55819 6.1167 8.6553 6.1167C10.7524 6.1167 12.4524 7.81674 12.4524 9.91385V29.6458H4.85815V9.91385Z' stroke='#9CC2FF')
                path(d='M6.5213 6.89006L4.64844 3.17242V1.45898H12.8971V3.17242L11.0242 6.89006' stroke='#9CC2FF')
                line(x1='4.97119' y1='12.3479' x2='12.3746' y2='12.3479' stroke='#9CC2FF')
                line(x1='4.97119' y1='26.5376' x2='12.3746' y2='26.5376' stroke='#9CC2FF')
                path(d='M4.35814 16.8511L2.81766 17.5879C2.1229 17.9203 1.68068 18.622 1.68068 19.3921L1.68067 21.2163C1.68067 21.9633 2.09697 22.6481 2.76017 22.9919L4.35814 23.8203' stroke='#9CC2FF' stroke-linecap='round')
                line(x1='25.0154' y1='16.4541' x2='29.0621' y2='16.4541' stroke='#9CC2FF')
                line(x1='12.9523' y1='16.4541' x2='16.999' y2='16.4541' stroke='#9CC2FF')
                line(x1='32.9934' y1='16.8716' x2='44.705' y2='16.8716' stroke='#9CC2FF')
                line(x1='32.9934' y1='24.125' x2='44.705' y2='24.125' stroke='#9CC2FF')
                line(x1='32.9934' y1='20.4775' x2='44.705' y2='20.4775' stroke='#9CC2FF')
                line(x1='25.0154' y1='24.125' x2='29.0621' y2='24.125' stroke='#9CC2FF')
                line(x1='12.9523' y1='24.125' x2='16.999' y2='24.125' stroke='#9CC2FF')
                line(x1='29.2106' y1='16.9541' x2='29.2106' y2='24.2329' stroke='#9CC2FF')
                line(x1='33.4934' y1='13.7454' x2='33.4934' y2='27.4421' stroke='#9CC2FF')
                line(x1='35.0831' y1='26.8838' x2='35.0831' y2='29.229' stroke='#9CC2FF')
                line(x1='43.683' y1='26.8838' x2='43.683' y2='29.229' stroke='#9CC2FF')
                path(d='M29.0621 16.8397L33.264 13.7454H44.7442V27.3836H33.264L29.0621 24.2891' stroke='#9CC2FF')

            .directions__name Оборудование для КС
        .grid-col
          a.directions__block(href="#")
            .directions__icon
              svg.directions__svg.directions__svg--fill(width='48' height='47' viewbox='0 0 48 30' fill='none' xmlns='http://www.w3.org/2000/svg')
                g(clip-path='url(#clip0)')
                  path(d='M8.61204 18.6675C8.87791 18.5792 9.07647 18.3558 9.13294 18.0814C9.18941 17.807 9.0952 17.5233 8.8858 17.3372C8.6764 17.1511 8.38363 17.0908 8.11776 17.1791C5.55568 18.039 3.76419 20.358 3.57913 23.0541C3.5643 23.2623 3.63311 23.4677 3.77032 23.6249C3.90752 23.7821 4.10176 23.8781 4.30998 23.8915H4.36168C4.77518 23.8924 5.11814 23.5717 5.14501 23.1591C5.28793 21.0983 6.6567 19.3259 8.6144 18.6667L8.61204 18.6675Z' fill='#9CC2FF')
                  path(d='M44.2983 20.7583H41.165C41.165 19.4604 40.1128 18.4083 38.815 18.4083H35.8046C34.2459 15.8522 31.6035 14.1496 28.6316 13.7866V11.75C28.6316 10.2358 27.4042 9.0083 25.89 9.0083C24.3758 9.0083 23.1483 10.2358 23.1483 11.75V13.7083H21.5816V11.75C21.5816 10.2358 20.3542 9.0083 18.84 9.0083C17.3258 9.0083 16.0983 10.2358 16.0983 11.75V13.7083H14.5316V11.75C14.5316 10.2358 13.3042 9.0083 11.79 9.0083C10.2758 9.0083 9.04831 10.2358 9.04831 11.75V13.7866C4.74543 14.3116 1.29984 17.6033 0.578907 21.8777C-0.142027 26.1522 2.03329 30.3919 5.92594 32.2992L5.16219 36.1179C5.14324 36.2191 5.13432 36.322 5.13556 36.425H1.21497C0.782351 36.425 0.431641 36.7757 0.431641 37.2083C0.431641 37.6409 0.782351 37.9916 1.21497 37.9916H46.6483C47.0809 37.9916 47.4316 37.6409 47.4316 37.2083V23.8916C47.4316 22.1611 46.0288 20.7583 44.2983 20.7583ZM42.7316 36.425H32.5483C32.5495 36.3217 32.5406 36.2186 32.5217 36.1171L31.7556 32.2874C32.7265 31.812 33.6138 31.1821 34.3829 30.4223C35.1419 29.659 35.7699 28.7758 36.2417 27.8083H38.815C40.1128 27.8083 41.165 26.7562 41.165 25.4583H42.7316V36.425ZM38.815 19.975C39.2476 19.975 39.5983 20.3257 39.5983 20.7583V25.4583C39.5983 25.8909 39.2476 26.2416 38.815 26.2416H36.8566C37.1159 25.3508 37.2478 24.4278 37.2483 23.5C37.2466 22.2937 37.0203 21.0983 36.5809 19.975H38.815ZM24.715 11.75C24.715 11.101 25.241 10.575 25.89 10.575C26.5389 10.575 27.065 11.101 27.065 11.75V13.7083H24.715V11.75ZM17.665 11.75C17.665 11.101 18.191 10.575 18.84 10.575C19.4889 10.575 20.015 11.101 20.015 11.75V13.7083H17.665V11.75ZM11.79 10.575C12.1021 10.5733 12.402 10.6965 12.6227 10.9173C12.8434 11.138 12.9667 11.4378 12.965 11.75L12.965 13.7083H10.615V11.75C10.615 11.101 11.141 10.575 11.79 10.575ZM1.99831 23.5C2.0009 18.9585 5.68184 15.2776 10.2233 15.275H27.4566C30.7826 15.276 33.7805 17.2799 35.0532 20.3527C36.3258 23.4255 35.6226 26.9624 33.2713 29.3147C32.7244 29.8555 32.1058 30.3186 31.4328 30.691L31.2644 29.8505C31.1158 29.1196 30.4741 28.5938 29.7283 28.5916H27.535C26.7892 28.5938 26.1475 29.1196 25.9989 29.8505L25.6244 31.725H12.0555L11.6811 29.8505C11.5325 29.1196 10.8908 28.5938 10.145 28.5916H7.95164C7.20584 28.5938 6.56416 29.1196 6.41552 29.8505L6.24632 30.698C3.62004 29.2566 1.99075 26.4958 1.99831 23.5ZM27.535 29.375V30.1583V29.375ZM12.9344 36.1171L12.3689 33.2916H25.3111L24.7455 36.1179C24.7266 36.2191 24.7177 36.322 24.7189 36.425H12.965C12.9649 36.3216 12.9547 36.2185 12.9344 36.1171ZM7.95164 29.375V30.1583V29.375ZM6.69831 36.425L7.95164 30.1583H10.145L11.3983 36.425H6.69831ZM26.2816 36.425L27.535 30.1583H29.7283L30.9816 36.425H26.2816ZM44.2983 36.425V24.675C44.2983 24.2423 43.9476 23.8916 43.515 23.8916H41.165V22.325H44.2983C45.1636 22.325 45.865 23.0264 45.865 23.8916V36.425H44.2983Z' fill='#9CC2FF')
                  path(d='M17.6296 29.9287C18.2208 30.0808 18.8287 30.1579 19.4391 30.1582C21.1336 30.2381 22.765 29.5069 23.8329 28.1889C24.6282 27.0772 24.9036 25.6758 24.588 24.3459C24.374 23.4847 24.0099 22.668 23.5125 21.9332C23.0098 21.2237 22.4248 20.5763 21.7696 20.0046L21.5416 19.79C21.2187 19.5044 21.0156 19.1074 20.9729 18.6784C20.9651 18.604 20.9604 18.5273 20.958 18.4521L20.9173 16.8235C20.9092 16.5084 20.713 16.2288 20.4193 16.1141C20.1257 15.9993 19.7919 16.0718 19.5723 16.2979L18.4631 17.4431C18.3519 17.5575 18.2383 17.6695 18.1075 17.798C17.7921 18.0968 17.4962 18.4155 17.2215 18.7521C16.4583 19.5749 16.1635 20.7283 16.4382 21.8165C16.5337 22.1108 16.6669 22.3915 16.8346 22.6515C16.944 22.8104 17.0276 22.9857 17.0821 23.1709C17.1032 23.2735 17.0719 23.3056 17.0578 23.3205C17.0139 23.3643 16.9419 23.3886 16.7891 23.3847C16.6497 23.3444 16.5258 23.2624 16.4343 23.1497L15.6157 22.2199C15.4251 22.0033 15.1309 21.9091 14.8499 21.9746C14.5689 22.0401 14.3467 22.2547 14.2715 22.5332L13.9425 23.7482C13.4836 25.2824 13.7902 26.9438 14.7666 28.2132C15.5238 29.0634 16.5228 29.662 17.6296 29.9287ZM15.412 24.3435C15.6951 24.619 16.0467 24.8137 16.4304 24.9075C17.06 25.0524 17.7199 24.8657 18.1803 24.4124C18.5775 24.0008 18.7422 23.4177 18.619 22.8591C18.5334 22.4982 18.3846 22.1553 18.1795 21.8462C18.0835 21.699 18.0047 21.5413 17.9445 21.3762C17.8281 20.7739 18.019 20.1531 18.4537 19.7203C18.6882 19.4364 18.9401 19.1675 19.2081 18.915L19.4047 18.7207C19.4047 18.763 19.4117 18.8046 19.4156 18.8461C19.4986 19.6457 19.8724 20.3869 20.4661 20.929L20.7011 21.1499C21.2666 21.6385 21.7725 22.1923 22.2082 22.7996C22.6033 23.3804 22.8929 24.0263 23.0636 24.7078C23.2759 25.5892 23.0968 26.5194 22.5725 27.2591C21.7967 28.1725 20.6352 28.6661 19.4391 28.5907C18.9635 28.5907 18.4898 28.5307 18.0291 28.4121C17.2359 28.2266 16.5176 27.8049 15.969 27.2027C15.3565 26.3846 15.1514 25.3316 15.412 24.3435Z' fill='#9CC2FF')
                defs
                  clippath#clip0
                    rect(width='47' height='47' fill='white' transform='translate(0.431641)')

            .directions__name Оборудование СПГ
        .grid-col 7
        .grid-col 8
      //-.main__nav
        ul.page-nav
          li.page-nav__item
            a(href="#").page-nav__link Компания
          li.page-nav__item
            a(href="#").page-nav__link Продукция
          li.page-nav__item
            a(href="#").page-nav__link Новости
          li.page-nav__item
            a(href="#").page-nav__link Контакты

      //-.main__content
        .screen
          .screen__title .01 Главная
          .screen__content
            .section
              .section__title Эффективные системы распределения СПГ — наш конек
              .section__subtitle Например, автоматические газораспределительные станции «Исток»
              .section__nav
                .section__nav-title А еще мы занимаемся:
                .section__nav-content
                  .directions
                    a.directions__block.active(href="#")
                      .directions__icon
                        svg.directions__svg(width='38' height='43' viewbox='0 0 38 43' fill='none' xmlns='http://www.w3.org/2000/svg')
                          path(d='M12.5292 12.0651H6.82687C3.75103 12.0651 1.25757 9.57168 1.25757 6.49584V1.32715' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M17.2801 7.28862L27.6497 7.28862C30.7255 7.28862 33.219 9.78208 33.219 12.8579L33.219 18.0266' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M25.4458 41.6268L18.5061 41.6268C15.3256 41.6268 12.7473 39.0485 12.7473 35.868L12.7473 30.5234' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M36.6758 28.3366L33.9826 28.3366C30.9068 28.3366 28.4133 25.8432 28.4133 22.7673L28.4133 17.5986' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M14.5671 7.28913H8.7741C7.27693 7.28913 6.06323 6.07544 6.06323 4.57826V1.27734' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M12.3789 12.0646L25.7025 12.0646C27.1996 12.0646 28.4133 13.2783 28.4133 14.7755L28.4133 18.0764' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M36.5255 36.4854L21.4487 36.4854C19.9515 36.4854 18.7378 35.2717 18.7378 33.7746L18.7378 30.4736' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M36.5755 23.6104L35.9299 23.6104C34.4327 23.6104 33.219 22.3967 33.219 20.8996L33.219 17.5986' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                          line(x1='12.478' y1='12.8484' x2='12.478' y2='18.812' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                          line(x1='18.79' y1='12.8484' x2='18.79' y2='18.812' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                          rect(x='10.2239' y='19.6814' width='10.923' height='10.4221' rx='1.5' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                          circle(cx='15.8099' cy='24.8924' r='1.59503' fill='#0066FF')
                          line(x1='10.2239' y1='6.25806' x2='10.2239' y2='13.1682' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                          line(x1='20.8962' y1='6.25806' x2='20.8962' y2='13.1682' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                          line(x1='34.3975' y1='19.812' x2='27.4873' y2='19.812' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                          line(x1='33.6687' y1='42.1975' x2='33.6687' y2='35.2874' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                          line(x1='11.8308' y1='33.6577' x2='19.7891' y2='33.6577' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                          line(x1='11.575' y1='16.5337' x2='19.8964' y2='16.5337' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                          line(x1='28.0066' y1='41.7461' x2='36.0756' y2='41.7461' stroke='#0066FF' stroke-linecap='round' stroke-linejoin='round')
                      .directions__name Газовое оборудование
                    a.directions__block(href="#")
                      .directions__icon
                        svg.directions__svg(width='38' height='38' viewbox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg')
                          path(d='M7.62671 33.5008L14.5224 11.8494V8.61865H23.8772V11.8494L30.8211 33.1631' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M11.717 33.0187L17.1262 14.7427H21.5144L26.7306 32.8001' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M3.43144 36.7795L5.36028 33.3076H11.5808L14.2812 36.7795H1.0686' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M35.0645 36.7795L33.1357 33.3076H26.9152L24.2148 36.7795H37.4274' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                          line(x1='19.3622' y1='15.2427' x2='19.3622' y2='30.445' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                          line(x1='15.2155' y1='22.3438' x2='23.0879' y2='22.3439' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                          line(x1='16.1798' y1='18.6787' x2='22.1234' y2='18.6787' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                          line(x1='12.9972' y1='11.5903' x2='25.3061' y2='11.5903' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M17.3191 32.587C17.3191 31.4552 18.2366 30.5376 19.3685 30.5376V30.5376C20.5004 30.5376 21.4179 31.4552 21.4179 32.587V37.4283H17.3191V32.587Z' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                          rect(x='16.8369' y='5.19482' width='4.91854' height='3.42386' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                          line(x1='19.3622' y1='0.920898' x2='19.3622' y2='2.33197' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M23.3071 0.661865L22.1364 2.83174' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M16.6899 2.83179L15.5192 0.66191' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                          line(x1='13.2865' y1='28.4719' x2='25.0167' y2='28.4719' stroke='#9CC2FF' stroke-linecap='round' stroke-linejoin='round')
                      .directions__name Нефтяное оборудование
                    a.directions__block(href="#")
                      .directions__icon
                        svg.directions__svg.directions__svg--fill(width='33' height='33' viewbox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg')
                          path(d='M24.6211 17.1447H27.4455L25.9783 20.0791C25.8191 20.3974 25.9481 20.7846 26.2665 20.9438C26.5848 21.103 26.9721 20.974 27.1313 20.6555L29.0648 16.7883C29.1648 16.5885 29.1541 16.3513 29.0366 16.1613C28.9192 15.9713 28.7117 15.8556 28.4883 15.8556H25.664L27.1312 12.9212C27.2904 12.6029 27.1614 12.2157 26.843 12.0565C26.5246 11.8972 26.1374 12.0263 25.9782 12.3448L24.0446 16.212C23.9447 16.4118 23.9554 16.6491 24.0728 16.8391C24.1903 17.029 24.3977 17.1447 24.6211 17.1447Z' fill='#9CC2FF')
                          path(d='M16.5 11.9883H4.89844C4.54246 11.9883 4.25391 12.2769 4.25391 12.6328V20.3672C4.25391 20.7231 4.54246 21.0117 4.89844 21.0117H16.5C16.856 21.0117 17.1445 20.7231 17.1445 20.3672V12.6328C17.1445 12.2769 16.856 11.9883 16.5 11.9883ZM15.8555 19.7227H13.2773V16.5C13.2773 16.1441 12.9888 15.8555 12.6328 15.8555C12.2768 15.8555 11.9883 16.1441 11.9883 16.5V19.7227H9.41016V16.5C9.41016 16.1441 9.1216 15.8555 8.76562 15.8555C8.40965 15.8555 8.12109 16.1441 8.12109 16.5V19.7227H5.54297V13.2773H15.8555V19.7227Z' fill='#9CC2FF')
                          path(d='M32.3555 1.93359C31.9995 1.93359 31.7109 2.22221 31.7109 2.57812V5.22567C30.8914 4.38823 29.7498 3.86719 28.4883 3.86719H19.0781V0.644531C19.0781 0.288621 18.7896 0 18.4336 0H14.5664C14.2104 0 13.9219 0.288621 13.9219 0.644531V3.86719H11.3438V0.644531C11.3438 0.288621 11.0552 0 10.6992 0H6.83203C6.47606 0 6.1875 0.288621 6.1875 0.644531V3.86719H4.51172C3.25024 3.86719 2.10865 4.38823 1.28906 5.22567V2.57812C1.28906 2.22221 1.00051 1.93359 0.644531 1.93359C0.288557 1.93359 0 2.22221 0 2.57812V28.4883C0 28.8442 0.288557 29.1328 0.644531 29.1328H4.3007C4.61452 31.3162 6.49675 33 8.76562 33C11.0345 33 12.9168 31.3162 13.2306 29.1328H24.2228L25.9782 32.6437C26.0874 32.8621 26.3105 33 26.5547 33H30.4219C30.7778 33 31.0664 32.7114 31.0664 32.3555V29.1328H32.3555C32.7114 29.1328 33 28.8442 33 28.4883C33 27.7923 33 3.27377 33 2.57812C33 2.22221 32.7114 1.93359 32.3555 1.93359ZM15.2109 1.28906H17.7891V3.86719H15.2109V1.28906ZM7.47656 1.28906H10.0547V3.86719H7.47656V1.28906ZM8.76562 31.7109C6.98865 31.7109 5.54297 30.2653 5.54297 28.4883C5.54297 26.7113 6.98865 25.2656 8.76562 25.2656C10.5426 25.2656 11.9883 26.7113 11.9883 28.4883C11.9883 30.2653 10.5426 31.7109 8.76562 31.7109ZM29.7773 31.7109H26.953L25.6639 29.1328H29.7773V31.7109ZM31.7109 27.8438H13.2306C12.9167 25.6603 11.0345 23.9766 8.76562 23.9766C6.49675 23.9766 4.61446 25.6603 4.3007 27.8438H1.28906V9.02344H7.79883C8.1548 9.02344 8.44336 8.73482 8.44336 8.37891C8.44336 8.023 8.1548 7.73438 7.79883 7.73438H1.35377C1.65329 6.26523 2.95543 5.15625 4.51172 5.15625H28.4883C30.0446 5.15625 31.3467 6.26523 31.6462 7.73438H13.5996C13.2436 7.73438 12.9551 8.023 12.9551 8.37891C12.9551 8.73482 13.2436 9.02344 13.5996 9.02344H20.1094V24.2344C20.1094 24.5903 20.3979 24.8789 20.7539 24.8789H31.7109V27.8438ZM31.7109 23.5898H21.3984V9.02344H31.7109V23.5898Z' fill='#9CC2FF')
                          path(d='M10.6992 9.02344C11.0552 9.02344 11.3438 8.73487 11.3438 8.37891C11.3438 8.02294 11.0552 7.73438 10.6992 7.73438C10.3433 7.73438 10.0547 8.02294 10.0547 8.37891C10.0547 8.73487 10.3433 9.02344 10.6992 9.02344Z' fill='#9CC2FF')
                      .directions__name Энергетическое оборудование
                    a.directions__block(href="#")
                      .directions__icon
                        svg.directions__svg(width='52' height='33' viewbox='0 0 52 33' fill='none' xmlns='http://www.w3.org/2000/svg')
                          path(d='M42.4105 13.4073L41.5978 11.7083C41.2655 11.0135 40.5638 10.5713 39.7936 10.5713L37.7149 10.5713C36.9679 10.5713 36.2831 10.9876 35.9393 11.6508L35.0287 13.4073' stroke='#9CC2FF' stroke-linecap='round')
                          path(d='M44.7048 27.3836V27.3836C47.1941 27.3836 49.212 25.3656 49.212 22.8764L49.212 18.2526C49.212 15.7633 47.1941 13.7454 44.7048 13.7454V13.7454' stroke='#9CC2FF' stroke-linecap='round')
                          path(d='M16.921 16.4077C16.921 15.027 18.0403 13.9077 19.421 13.9077H22.0153C23.396 13.9077 24.5153 15.027 24.5153 16.4077V29.6461H16.921V16.4077Z' stroke='#9CC2FF')
                          path(d='M0.986084 32.2295C0.986084 30.8488 2.10537 29.7295 3.48608 29.7295H48.417C49.7978 29.7295 50.9171 30.8488 50.9171 32.2295V32.4917H0.986084V32.2295Z' stroke='#9CC2FF')
                          path(d='M4.85815 9.91385C4.85815 7.81674 6.55819 6.1167 8.6553 6.1167C10.7524 6.1167 12.4524 7.81674 12.4524 9.91385V29.6458H4.85815V9.91385Z' stroke='#9CC2FF')
                          path(d='M6.5213 6.89006L4.64844 3.17242V1.45898H12.8971V3.17242L11.0242 6.89006' stroke='#9CC2FF')
                          line(x1='4.97119' y1='12.3479' x2='12.3746' y2='12.3479' stroke='#9CC2FF')
                          line(x1='4.97119' y1='26.5376' x2='12.3746' y2='26.5376' stroke='#9CC2FF')
                          path(d='M4.35814 16.8511L2.81766 17.5879C2.1229 17.9203 1.68068 18.622 1.68068 19.3921L1.68067 21.2163C1.68067 21.9633 2.09697 22.6481 2.76017 22.9919L4.35814 23.8203' stroke='#9CC2FF' stroke-linecap='round')
                          line(x1='25.0154' y1='16.4541' x2='29.0621' y2='16.4541' stroke='#9CC2FF')
                          line(x1='12.9523' y1='16.4541' x2='16.999' y2='16.4541' stroke='#9CC2FF')
                          line(x1='32.9934' y1='16.8716' x2='44.705' y2='16.8716' stroke='#9CC2FF')
                          line(x1='32.9934' y1='24.125' x2='44.705' y2='24.125' stroke='#9CC2FF')
                          line(x1='32.9934' y1='20.4775' x2='44.705' y2='20.4775' stroke='#9CC2FF')
                          line(x1='25.0154' y1='24.125' x2='29.0621' y2='24.125' stroke='#9CC2FF')
                          line(x1='12.9523' y1='24.125' x2='16.999' y2='24.125' stroke='#9CC2FF')
                          line(x1='29.2106' y1='16.9541' x2='29.2106' y2='24.2329' stroke='#9CC2FF')
                          line(x1='33.4934' y1='13.7454' x2='33.4934' y2='27.4421' stroke='#9CC2FF')
                          line(x1='35.0831' y1='26.8838' x2='35.0831' y2='29.229' stroke='#9CC2FF')
                          line(x1='43.683' y1='26.8838' x2='43.683' y2='29.229' stroke='#9CC2FF')
                          path(d='M29.0621 16.8397L33.264 13.7454H44.7442V27.3836H33.264L29.0621 24.2891' stroke='#9CC2FF')

                      .directions__name Оборудование для КС
                    a.directions__block(href="#")
                      .directions__icon
                        svg.directions__svg.directions__svg--fill(width='48' height='47' viewbox='0 0 48 30' fill='none' xmlns='http://www.w3.org/2000/svg')
                          g(clip-path='url(#clip0)')
                            path(d='M8.61204 18.6675C8.87791 18.5792 9.07647 18.3558 9.13294 18.0814C9.18941 17.807 9.0952 17.5233 8.8858 17.3372C8.6764 17.1511 8.38363 17.0908 8.11776 17.1791C5.55568 18.039 3.76419 20.358 3.57913 23.0541C3.5643 23.2623 3.63311 23.4677 3.77032 23.6249C3.90752 23.7821 4.10176 23.8781 4.30998 23.8915H4.36168C4.77518 23.8924 5.11814 23.5717 5.14501 23.1591C5.28793 21.0983 6.6567 19.3259 8.6144 18.6667L8.61204 18.6675Z' fill='#9CC2FF')
                            path(d='M44.2983 20.7583H41.165C41.165 19.4604 40.1128 18.4083 38.815 18.4083H35.8046C34.2459 15.8522 31.6035 14.1496 28.6316 13.7866V11.75C28.6316 10.2358 27.4042 9.0083 25.89 9.0083C24.3758 9.0083 23.1483 10.2358 23.1483 11.75V13.7083H21.5816V11.75C21.5816 10.2358 20.3542 9.0083 18.84 9.0083C17.3258 9.0083 16.0983 10.2358 16.0983 11.75V13.7083H14.5316V11.75C14.5316 10.2358 13.3042 9.0083 11.79 9.0083C10.2758 9.0083 9.04831 10.2358 9.04831 11.75V13.7866C4.74543 14.3116 1.29984 17.6033 0.578907 21.8777C-0.142027 26.1522 2.03329 30.3919 5.92594 32.2992L5.16219 36.1179C5.14324 36.2191 5.13432 36.322 5.13556 36.425H1.21497C0.782351 36.425 0.431641 36.7757 0.431641 37.2083C0.431641 37.6409 0.782351 37.9916 1.21497 37.9916H46.6483C47.0809 37.9916 47.4316 37.6409 47.4316 37.2083V23.8916C47.4316 22.1611 46.0288 20.7583 44.2983 20.7583ZM42.7316 36.425H32.5483C32.5495 36.3217 32.5406 36.2186 32.5217 36.1171L31.7556 32.2874C32.7265 31.812 33.6138 31.1821 34.3829 30.4223C35.1419 29.659 35.7699 28.7758 36.2417 27.8083H38.815C40.1128 27.8083 41.165 26.7562 41.165 25.4583H42.7316V36.425ZM38.815 19.975C39.2476 19.975 39.5983 20.3257 39.5983 20.7583V25.4583C39.5983 25.8909 39.2476 26.2416 38.815 26.2416H36.8566C37.1159 25.3508 37.2478 24.4278 37.2483 23.5C37.2466 22.2937 37.0203 21.0983 36.5809 19.975H38.815ZM24.715 11.75C24.715 11.101 25.241 10.575 25.89 10.575C26.5389 10.575 27.065 11.101 27.065 11.75V13.7083H24.715V11.75ZM17.665 11.75C17.665 11.101 18.191 10.575 18.84 10.575C19.4889 10.575 20.015 11.101 20.015 11.75V13.7083H17.665V11.75ZM11.79 10.575C12.1021 10.5733 12.402 10.6965 12.6227 10.9173C12.8434 11.138 12.9667 11.4378 12.965 11.75L12.965 13.7083H10.615V11.75C10.615 11.101 11.141 10.575 11.79 10.575ZM1.99831 23.5C2.0009 18.9585 5.68184 15.2776 10.2233 15.275H27.4566C30.7826 15.276 33.7805 17.2799 35.0532 20.3527C36.3258 23.4255 35.6226 26.9624 33.2713 29.3147C32.7244 29.8555 32.1058 30.3186 31.4328 30.691L31.2644 29.8505C31.1158 29.1196 30.4741 28.5938 29.7283 28.5916H27.535C26.7892 28.5938 26.1475 29.1196 25.9989 29.8505L25.6244 31.725H12.0555L11.6811 29.8505C11.5325 29.1196 10.8908 28.5938 10.145 28.5916H7.95164C7.20584 28.5938 6.56416 29.1196 6.41552 29.8505L6.24632 30.698C3.62004 29.2566 1.99075 26.4958 1.99831 23.5ZM27.535 29.375V30.1583V29.375ZM12.9344 36.1171L12.3689 33.2916H25.3111L24.7455 36.1179C24.7266 36.2191 24.7177 36.322 24.7189 36.425H12.965C12.9649 36.3216 12.9547 36.2185 12.9344 36.1171ZM7.95164 29.375V30.1583V29.375ZM6.69831 36.425L7.95164 30.1583H10.145L11.3983 36.425H6.69831ZM26.2816 36.425L27.535 30.1583H29.7283L30.9816 36.425H26.2816ZM44.2983 36.425V24.675C44.2983 24.2423 43.9476 23.8916 43.515 23.8916H41.165V22.325H44.2983C45.1636 22.325 45.865 23.0264 45.865 23.8916V36.425H44.2983Z' fill='#9CC2FF')
                            path(d='M17.6296 29.9287C18.2208 30.0808 18.8287 30.1579 19.4391 30.1582C21.1336 30.2381 22.765 29.5069 23.8329 28.1889C24.6282 27.0772 24.9036 25.6758 24.588 24.3459C24.374 23.4847 24.0099 22.668 23.5125 21.9332C23.0098 21.2237 22.4248 20.5763 21.7696 20.0046L21.5416 19.79C21.2187 19.5044 21.0156 19.1074 20.9729 18.6784C20.9651 18.604 20.9604 18.5273 20.958 18.4521L20.9173 16.8235C20.9092 16.5084 20.713 16.2288 20.4193 16.1141C20.1257 15.9993 19.7919 16.0718 19.5723 16.2979L18.4631 17.4431C18.3519 17.5575 18.2383 17.6695 18.1075 17.798C17.7921 18.0968 17.4962 18.4155 17.2215 18.7521C16.4583 19.5749 16.1635 20.7283 16.4382 21.8165C16.5337 22.1108 16.6669 22.3915 16.8346 22.6515C16.944 22.8104 17.0276 22.9857 17.0821 23.1709C17.1032 23.2735 17.0719 23.3056 17.0578 23.3205C17.0139 23.3643 16.9419 23.3886 16.7891 23.3847C16.6497 23.3444 16.5258 23.2624 16.4343 23.1497L15.6157 22.2199C15.4251 22.0033 15.1309 21.9091 14.8499 21.9746C14.5689 22.0401 14.3467 22.2547 14.2715 22.5332L13.9425 23.7482C13.4836 25.2824 13.7902 26.9438 14.7666 28.2132C15.5238 29.0634 16.5228 29.662 17.6296 29.9287ZM15.412 24.3435C15.6951 24.619 16.0467 24.8137 16.4304 24.9075C17.06 25.0524 17.7199 24.8657 18.1803 24.4124C18.5775 24.0008 18.7422 23.4177 18.619 22.8591C18.5334 22.4982 18.3846 22.1553 18.1795 21.8462C18.0835 21.699 18.0047 21.5413 17.9445 21.3762C17.8281 20.7739 18.019 20.1531 18.4537 19.7203C18.6882 19.4364 18.9401 19.1675 19.2081 18.915L19.4047 18.7207C19.4047 18.763 19.4117 18.8046 19.4156 18.8461C19.4986 19.6457 19.8724 20.3869 20.4661 20.929L20.7011 21.1499C21.2666 21.6385 21.7725 22.1923 22.2082 22.7996C22.6033 23.3804 22.8929 24.0263 23.0636 24.7078C23.2759 25.5892 23.0968 26.5194 22.5725 27.2591C21.7967 28.1725 20.6352 28.6661 19.4391 28.5907C18.9635 28.5907 18.4898 28.5307 18.0291 28.4121C17.2359 28.2266 16.5176 27.8049 15.969 27.2027C15.3565 26.3846 15.1514 25.3316 15.412 24.3435Z' fill='#9CC2FF')
                          defs
                            clippath#clip0
                              rect(width='47' height='47' fill='white' transform='translate(0.431641)')

                      .directions__name Оборудование СПГ
    //section.section-title
    //  .title .01 Главная
    //section.section-main
    //  .content.grid
    //    .grid-col-1 Меню
    //    .grid-col-4
    //      .title Эффективные системы распределения СПГ — наш конек
    //      .text  Например, автоматические газораспределительные станции «Исток»




  //include ../parts/footer

block custom-scripts
  //script(src='js/script-mainpage.js')
  //script(src='js/nav.js')