.a-docs{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 70px;
}

.a-docs__link{
  width: 109px;

  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: $header-blue;
  display: block;

  &:before{
    content: '';
    width: 46px;
    height: 55px;
    display: block;
    background: url("/img/icons/icon-doc.svg") no-repeat center center;
    margin-bottom: 17px;
  }
}
.a-docs__block{
  width: calc(100%/5);
  margin-top: 56px;
  @media(max-width: $laptop-sm)  {
    width: calc(100%/4);
  }
  @media(max-width: $tablet-sm)  {
    width: calc(100%/2);
  }
}